{% extends "brit.twig" %}
{% import "macro.html.twig" as forms %}


{% block objectContent %}
<div>
    <li class="list-group-item"> Британские короткошерстные кошки являются традиционной английской породой и гордостью Великобритании. Льюис Кэрролл в своей книге «Алиса в стране чудес» описал в образе всем известного Чеширского кота именно британскую короткошерстную породу. Однако история появления в Британии этой породы до сих пор точно не известна. По одной из версий эти кошки попали в Англию более 2000 лет назад с римскими легионерами, по другой версии - прибыли в роли корабельных котов на судах Франции. Какая бы из версий не оказалась верна, эти кошки довольно быстро прижились и завоевали популярность среди англичан. Они долгое время существовали как простые домашние кошки, пока в 19 веке заводчики не начали вести селекционную работу, целью которой было выведение отдельной породы. В настоящее время британская короткошерстная кошка – одна из самых популярных пород и горячо любима во многих странах.</li>
</div>
{% endblock %}