{% extends "__layout.twig" %}

{% block content %}
	<h1>Британская кошка</h1>
	<h4>Очень классная кошка. У самой такая есть.</h4>
	<p>

		<ul class="nav nav-pills">
			<a class="nav-link" href="/brit/image">Картинка</a>
			<a class="nav-link" href="/brit/info">Описание</a>
		</ul>
	</p>
    {% block objectContent %}{% endblock %}

{% endblock %}
