{% extends "scot.twig" %}
{% import "macro.html.twig" as forms %}

{% block objectContent %}
<div>
    <li class="list-group-item">По стандарту существует целых 10 отличительных характеристик этой породы от британской короткошерстной кошки, но на практике выявить хотя бы три из них бывает трудно. И вся эта неразбериха наблюдается от того, что на протяжении долгого времени представителей этих двух пород относили к одной породе - британской короткошерстной. Лишь в 2005 году выделили новую породу кошек - шотландская прямоухая.</li>
</div>
{% endblock %}