{% extends "__layout.twig" %}

{% block content %}
<h1>Шотландская кошка</h1>
<h4>Двойник британской кошки.</h4>
<p>

<ul class="nav nav-pills">
    <a class="nav-link " href="/scot/image">Картинка</a>
    <a class="nav-link " href="/scot/info">Описание</a>
</ul>
</p>
{% block objectContent %}{% endblock %}

{% endblock %}
